<div class="row" style="margin: 0 10px;">
    <div ng-if="Channels.online.length != 0" style="margin-bottom: 20px;">
        <h5 style="margin-bottom: 0;">Online</h5>
        <div class="col s12 z-depth-1 white channel waves-effect waves-light" ng-repeat="Channel in Channels.online">
            <div class="thumbnail" ng-class="Channel.is_live == false ? 'grayscale' : ''"><img ng-src="{{ Channel.url_thumbnail}}" /></div>
            <div class="bottombar">
                <div class="gamename">
                    {{ Channel.category.title}}
                </div>
                <div class="username">
                    {{ Channel.user.username}}
                </div>
            </div>
            <div class="topbar">
                <div class="tooltip" style="width: 100%; overflow: hidden;" data-position="top" data-tooltip="Viewers">
                    <i class="material-icons red-text">remove_red_eye</i>
                    <span class="count">{{ Channel.view_count}}</span>
                </div><div class="tooltip" data-position="top" data-tooltip="Views">
                    <i class="material-icons grey-text">remove_red_eye</i>
                    <span class="count">{{ Channel.vods_view_count}}</span>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="Channels.offline.length != 0">
        <h5 style="margin-bottom: 0;">Offline</h5>
        <div class="col s12 z-depth-1 white channel waves-effect waves-light" ng-repeat="Channel in Channels.offline" ng-click="open(Channel.user.username)">
            <div class="thumbnail" ng-class="Channel.is_live == false ? 'grayscale' : ''"><img ng-src="{{ Channel.url_thumbnail}}" /></div>
            <div class="bottombar">
                <div class="username">
                    {{ Channel.user.username}}
                </div>
            </div>
            <div class="topbar">
                <div class="tooltip" data-position="top" data-tooltip="Views">
                    <i class="material-icons grey-text">remove_red_eye</i>
                    <span class="count">{{ Channel.vods_view_count}}</span>
                </div>
            </div>
        </div>
    </div>
</div>